<!--<div class="container">
  <h2>Registration From</h2>
  <form [formGroup] = "registration" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>User Name:</label>
      <input [class.is-invalid]="userName!.invalid
      && userName!.touched" formControlName ="userName" type="text" class="form-control">
     <small [class.d-none]="registration.get('email')!.valid || 
      registration.get('email')!.untouched" class="text-danger">Name is required</small>      <div *ngIf="userName!.invalid &&  registration.get('userName')!.touched">
        <small *ngIf="registration.get('userName')!.errors?.required" class="text-danger">name is required</small>
<small *ngIf="registration.get('userName')!.errors?.minlength" class="text-danger">Minimum length should be 3</small>
      </div>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input formControlName="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Repeat Password:</label>
      <input [class.is-invalid]="registration.errors?.wrong"  formControlName="confirmPassword"
       type="password" class="form-control">
    </div> 
    <div class="form-group">
      <label>Email:</label>
      <button (click)="addAlternateEmail()" class= "btn btn-dark m-2">Add alternate email</button>
      <input [class.is-invalid]="registration.get('email').invalid && registration.get('email').touched"  formControlName="email"
       type="email" class="form-control">
    </div> 
    <!-- <small [class.d-none]="registration.get('email')!.valid || 
    registration.get('email')!.untouched" class="text-danger">email is required</small> 
    <div *ngIf="registration.get('email')!.invalid &&  registration.get('email')!.touched">
      <small *ngIf="registration.get('email')!.errors?.required" class="text-danger">email is required</small>
<small *ngIf="registration.get('email')!.errors?.pattern" class="text-danger">Please enter a valid email</small>
    </div>
    <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
      <input type="text" class="form-control my-1" [formControlName]="i">
    </div>
    <br>
  {{registration.value | json }}
  <!--section 2-
  <div formGroupName ="add">
 <div class="form-group">
<label>City:</label>
<input formControlName="city" type="text" class="form-control">
 </div>
 <div class="form-group">
  <label>State:</label>
  <input formControlName="state" type="text" class="form-control">
   </div>
   <div class="form-group">
    <label>Code:</label>
    <input formControlName="code" type="text" class="form-control">
     </div>
  </div> 
  <div class="mb-3">
    <label>Time preference</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timePreference" value="morning" formControlName="timePreference">
      <label class="form-check-label">Morning (9AM - 12PM)</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="timePreference" value="evening" formControlName="timePreference">
      <label class="form-check-label">Evening (5PM - 8PM)</label>
    </div>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input  formControlName="em" type="email" class="form-control">
    <small class="text-danger" [class.d-none]="registration.get('em').valid || registration.get('em').untouched">Email is required</small>
  </div> 
  <div>
    Get further details:
    <input type="checkbox" formControlName="subscribe">
  </div>
  <!-- <button (click)="loadData()" class ="btn btn-success m-2 ">Get Value</button> 
        <button [disabled]="!registration.valid" class="btn btn-dark m-3 btn-block">Submit</button>
</form>
</div>
-->
<div class= "container mid">
<h1 class ="display-4 text-center">Virtual WorkShop Registration Form</h1>
<br>
<div class="m-10">
  <div class="myClass">
  <p>join the 3 day web development Virtual  WorkShop and become a hirable freelancer.</p>
<p> Particiption Fee : $200</p>
<p>Limited slots!</p>
</div>
<div clas="myClass2">
<p>Virtual WorkShop Schedule</p>
<pre> May 1-3      9:00 am to 1:00 pm</pre>
<pre> May 1-3      9:00 am to 1:00 pm</pre>
<pre> May 1-3      9:00 am to 1:00 pm</pre>
</div>
</div>
<div class="mt-5">
  <form [formGroup] = "registration" (ngSubmit)="onSubmit()">
    <div class="form-group">
  <strong>Please rate your web development or programming knowledge:</strong>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="onIdea" formControlName="rating">
    <label class="form-check-label">I dont have any idea at all</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="newbie" formControlName="rating">
    <label class="form-check-label">I am newbie in web development</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="watchedOnline" formControlName="rating">
    <label class="form-check-label">I have watched tutorial online</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="timePreference" value="workExperience" formControlName="rating">
    <label class="form-check-label">I have a web development related work Experience</label>
  </div>

<div class="mt-5">
<strong>I'd Like to learn about the following:</strong>
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="html" formControlName="subject">
  <label class="form-check-label">HTML</label>
</div> 
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="css" formControlName="subject">
  <label class="form-check-label">CSS</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="javascript" formControlName="subject">
  <label class="form-check-label">javascript</label>
</div>  
</div>
<hr>
<h1 class ="text-center display-4">Participant Information</h1>
<div class="form-group">
  {{registration.value | json}}
  <br>
<label>Name:</label>
  <label>Fname:</label>
  <input type="text" [class.is-invalid]="registration.get('fname')!.invalid &&registration.get('fname')!.touched" 
  formControlName="fname" class="form-control">
<small class="text-danger" [class.d-none]="registration.get('fname')!.valid && registration.get('fname')!.untouched">name is required</small>
  </div>
  <label>Lname:</label>
  <input type="text" [class.is-invalid]="registration.get('lname')!.invalid &&registration.get('lname')!.touched" 
  formControlName="lname" class="form-control">
<small class="text-danger" [class.d-none]="registration.get('lname')!.valid && registration.get('lname')!.untouched">name is required</small>
</div>
<div class="form-group">
<label>Email:</label>
  <input [class.is-invalid]="registration.get('email').invalid && registration.get('email').touched"  formControlName="email"
   type="email" class="form-control">
   <div *ngIf="registration.get('email')!.invalid &&  registration.get('email')!.touched">
    <small *ngIf="registration.get('email')!.errors?.required" class="text-danger">email is required</small>
  </div>

     <div class="form-group">
      <label>Occupation:</label>
      <input [class.is-invalid]="registration.get('occupation').invalid && registration.get('occupation').touched" 
       formControlName="occupation"
       type="text" class="form-control">
       <div *ngIf="registration.get('occupation')!.invalid &&  registration.get('occupation')!.touched">
        <small *ngIf="registration.get('occupation')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div class="form-group">
  <label>Company Name:</label>
  <input [class.is-invalid]="registration.get('company').invalid && registration.get('company').touched" 
   formControlName="company"
   type="text" class="form-control">
   <div *ngIf="registration.get('company')!.invalid &&  registration.get('company')!.touched">
    <small *ngIf="registration.get('company')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div class="form-group">
  <label>Job title:</label>
  <input [class.is-invalid]="registration.get('job').invalid && registration.get('job').touched" 
   formControlName="job"
   type="text" class="form-control">
   <div *ngIf="registration.get('job')!.invalid &&  registration.get('job')!.touched">
    <small *ngIf="registration.get('job')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div formGroupName ="add">
  <h2>Address:</h2>
  <div class="form-group">
    <label>Street Address:</label>
    <input formControlName="street" type="text" class="form-control">
     </div>
  <div class="form-group">
 <label>City:</label>
 <input formControlName="city" type="text" class="form-control">
  </div>
  <div class="form-group">
   <label>State:</label>
   <input formControlName="state" type="text" class="form-control">
    </div>
    <div class="form-group">
     <label>Code:</label>
     <input formControlName="code" type="text" class="form-control">
      </div>
   </div>
   <div>
  <h1 class="display-4 text-center">Payment Information</h1> 
   <strong>WorkShop Dates:</strong>
   <br>
   <input class="m-2" type="radio" id="male" name="workshopDate" formControlName="workshopDate" value="mayStart">
<label>May 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate"  value="juneStart">
<label>June 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate" value="julyStart">
<label>July 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate"  value="mayEnd">
<label>May 15-18</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate"  value="other">
<label>Other</label>
</div>
<div class= "m-3">
  <strong>Virtual WorkShop Payment:</strong>
<input type="radio" formControlName="fee" value="200.00" class="form-check">
</div>


</div>
<button [disabled]="!registration.valid" class="btn btn-dark m-3 btn-block">Submit</button>
</form>
<hr>
<br>
<br>
</div>