<div class= "container mid">
  <div class="cl">
<h1 class =" text-center">Virtual WorkShop Registration Form</h1>
</div>
<br>
 <div class="bor">
  <div class="myClass">
  <p>join the 3 day web development Virtual  WorkShop and become a hirable freelancer.</p>
<p> Particiption Fee : $200</p>
<p>Limited slots!</p>
</div>
<div class="myClass2">
<p>Virtual WorkShop Schedule</p>
<pre> May 1-3        9:00 am to 1:00 pm</pre>
<pre> May 1-3        9:00 am to 1:00 pm</pre>
<pre> May 1-3        9:00 am to 1:00 pm</pre>
</div>
</div>
<div class="mt-5">
  <form [formGroup] = "registration" (ngSubmit)="onSubmit()">
    <div class="form-group">
  <strong class="marg">Please rate your web development or programming knowledge:</strong>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="onIdea" formControlName="rating">
    <label class="form-check-label">I dont have any idea at all</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="newbie" formControlName="rating">
    <label class="form-check-label">I am newbie in web development</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="rating" value="watchedOnline" formControlName="rating">
    <label class="form-check-label">I have watched tutorial online</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="timePreference" value="workExperience" formControlName="rating">
    <label class="form-check-label">I have a web development related work Experience</label>
  </div>
</div>
<div class="mt-5">
<strong>I'd Like to learn about the following:</strong>
<div>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="html" formControlName="subject">
  <label class="form-check-label">HTML</label>
</div> 
</div>
<div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="css" formControlName="subject">
  <label class="form-check-label">CSS</label>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="javascript" formControlName="subject">
  <label class="form-check-label">javascript</label>
</div> 
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="subject" value="php" formControlName="subject">
    <label class="form-check-label">PHP</label>
  </div> 
</div>
</div> 
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="DataBase" formControlName="subject">
  <label class="form-check-label">Database</label>
</div> 
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="subject" value="pyhon" formControlName="subject">
    <label class="form-check-label">Python</label>
  </div> 
</div>
</div>
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="devOps" formControlName="subject">
  <label class="form-check-label">DevOps</label>
</div> 
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="subject" value="WebSecurity" formControlName="subject">
    <label class="form-check-label">WebSecurity</label>
  </div> 
</div>
</div>  
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="frontEnd" formControlName="subject">
  <label class="form-check-label">Front End development</label>
</div> 
</div>
<div class="col">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="subject" value="backend" formControlName="subject">
    <label class="form-check-label">Back End development</label>
  </div> 
</div>
</div> 
<div class="row">
  <div class="col">
<div class="form-check">
  <input class="form-check-input" type="radio" name="subject" value="other" formControlName="subject">
  <label class="form-check-label">other-</label>
  <input type="text">
</div> 
</div>
</div>
</div>
<hr>
<div class="cl">
<h1 class ="text-center">Participant Information</h1>
</div>
<div class="form-group">
  <br>
  <label class="m-2">Name:</label>
<div class="row">
  <div class="col">
    <input type="text" [class.is-invalid]="registration.get('fname')!.invalid &&registration.get('fname')!.touched" 
    formControlName="fname" class="form-control" placeholder="First name">
    <small *ngIf="registration.get('fname')!.errors?.required &&
    registration.get('fname')!.touched" class="text-danger">This Field is required</small>
  </div>
  <div class="col">
    <input type="text" [class.is-invalid]="registration.get('lname')!.invalid &&registration.get('lname')!.touched" 
    formControlName="lname"  class="form-control" placeholder="Last name">
    <small *ngIf="registration.get('lname')!.errors?.required 
    &&
    registration.get('lname')!.touched" class="text-danger">This Field is required</small>
  </div>
</div>
</div>
<div class="form-group">
<label class="m-2">Email:</label>
  <input [class.is-invalid]="registration.get('email').invalid && registration.get('email').touched" 
  placeholder="email" formControlName="email"
   type="email" class="form-control">
   <div *ngIf="registration.get('email')!.invalid &&  registration.get('email')!.touched">
    <small *ngIf="registration.get('email')!.errors?.required" class="text-danger">email is required</small>
    <small *ngIf="registration.get('email')!.errors?.pattern" class="text-danger">Please enter a valid email</small>
  </div>

     <div class="form-group">
      <label class='m-2'>Occupation:</label>
      <input [class.is-invalid]="registration.get('occupation').invalid && registration.get('occupation').touched" 
       formControlName="occupation" placeholder="Occupation"
       type="text" class="form-control">
       <div *ngIf="registration.get('occupation')!.invalid &&  registration.get('occupation')!.touched">
        <small *ngIf="registration.get('occupation')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div class="form-group">
  <label class="m-2">Company Name:</label>
  <input [class.is-invalid]="registration.get('company').invalid && registration.get('company').touched" 
   formControlName="company" placeholder="company name"
   type="text" class="form-control">
   <div *ngIf="registration.get('company')!.invalid &&  registration.get('company')!.touched">
    <small *ngIf="registration.get('company')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div class="form-group">
  <label class="m-2">Job title:</label>
  <input [class.is-invalid]="registration.get('job').invalid && registration.get('job').touched" 
   formControlName="job"   placeholder="job title"
   type="text" class="form-control">
   <div *ngIf="registration.get('job')!.invalid &&  registration.get('job')!.touched">
    <small *ngIf="registration.get('job')!.errors?.required" class="text-danger">This field is required</small>
</div>
</div>
<div>
  <hr>
  <h4>Address:</h4>
  <div class="form-group">
    <label class="m-2">Street Address line 1:</label>
    <input formControlName="street" type="text" class="form-control" placeholder="Address line 1">
     </div>
     <div class="form-group">
      <label class="m-2">Street Address line 2:</label>
      <input formControlName="street" type="text" class="form-control" placeholder="Address line 2">
       </div>
  <div class="form-group">
    <div class="row">
      <div class="col"> <label class="m-2">City:</label>
 <input formControlName="city" type="text" class="form-control" formControlName="city" placeholder="city">
 <div *ngIf="registration.get('city')!.invalid &&  registration.get('city')!.touched">
  <small *ngIf="registration.get('city')!.errors?.required" class="text-danger">This field is required</small>
 </div>
 </div>
 <div class="col">
   <label class="m-2">State:</label>
   <input formControlName="state" type="text" class="form-control" formControlName="state" placeholder="State">
   <div *ngIf="registration.get('state')!.invalid &&  registration.get('state')!.touched">
    <small *ngIf="registration.get('state')!.errors?.required" class="text-danger">This field is required</small>
   </div>
   </div>
   <div class="col">
     <label class="m-2">Code:</label>
     <input formControlName="code" type="text" class="form-control" formControlName="code" placeholder="code">
     <div *ngIf="registration.get('code')!.invalid &&  registration.get('code')!.touched">
      <small *ngIf="registration.get('code')!.errors?.required" class="text-danger">This field is required</small>
     </div>
     </div>
      </div>
   </div>
   <div>
   </div>
   <hr>
   <div>
   <div class="cl">
  <h1 class="text-center">Payment Information</h1> 
  </div>
   <strong>WorkShop Dates:</strong>
   <br>
   <input class="m-2" type="radio" id="male" name="workshopDate" formControlName="workshopDate" value="mayStart">
<label>May 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate"  value="juneStart">
<label>June 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate" value="julyStart">
<label>July 1-3</label><br>
<input class="m-2" type="radio" name="workshopDate" formControlName="workshopDate"  value="other">
<label>Other</label>
<div class= "mt-2">
  <strong>Virtual WorkShop Payment:</strong>
  <br>
<input type="radio" formControlName="fee" value="200.00" class="m-2">
<label for="fee">$200</label>
</div>
<div>
  <strong>Payment Methods:</strong>
  <br>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference:</label>
    <br>
    <select class="btn btn-light dropdown-toggle wid">
      <option selected>Choose...</option>
      <option value="1">Debit Card</option>
      <option value="2">Credit Card</option>
      <option value="3">EMI</option>
    </select>
  
</div>
<div>
  <strong>Add a comment:</strong>
  <br>
  <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
</div>
<div>
  <strong>
    How did you learn about this virtual training program?
  </strong>
  <br>
 <div class="row">
   <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="way" value="Facebook" formControlName="knowledge">
      <label class="form-check-label">Facebook</label>
    </div>   
   </div>
   <div class="col">
    <div class="form-check">
    <input class="form-check-input" type="radio" name="way" value="Twitter" formControlName="knowledge">
    <label class="form-check-label">Twitter</label>
    </div>
   </div>
 </div>
 <div class="row">
  <div class="col">
   <div class="form-check">
     <input class="form-check-input" type="radio" name="way" value="Youtube" formControlName="knowledge">
     <label class="form-check-label">Youtube</label>
   </div>   
  </div>
  <div class="col">
   <div class="form-check">
   <input class="form-check-input" type="radio" name="way" value="Online adds" formControlName="knowledge">
   <label class="form-check-label">Online adds</label>
   </div>
  </div>
</div>
<div class="row">
  <div class="col">
   <div class="form-check">
     <input class="form-check-input" type="radio" name="way" value="referral" formControlName="knowledge">
     <label class="form-check-label">Referral</label>
   </div>   
  </div>
  <div class="col">
   <div class="form-check">
   <input class="form-check-input" type="radio" name="way" value="other" formControlName="knowledge">
   <label class="form-check-label">Other-</label>
   <input type="text">
   </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<hr>
<button [disabled]="!registration.valid" class=" mybtn btn btn-dark mt-3 btn-block">Submit</button>
</form>
<hr>
<br>
<br>
</div>
</div>
